@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular.woff2') format('woff2'),
    url('/fonts/poppins-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-700.woff2') format('woff2'),
    url('/fonts/poppins-700.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .bg-primary {
    @apply bg-orange-600 hover:bg-orange-700;
  }
  .bg-secondary {
    @apply bg-slate-100 hover:bg-slate-50 dark:text-black;
  }
  .border-primary {
    @apply border-2 border-orange-600 hover:border-red-600;
  }
  .border-secondary {
    @apply border-2 border-gray-600 hover:border-gray-50;
  }

}